
<br>
<br>

{{#each listOfPaintings}}

Posted on: {{this.updatedAt}}

<div>

<p>{{this.title}} by {{this.artist}} </p>
<div>
Buy Now Price: ${{this.buyPrice}}
</div>
<br>
<div class="description">
  Description: {{this.description}}
</div>
<div>
{{#if this.longtermLease}}
Long-term Listing
Monthly Price: $ {{ this.monthlyPrice }}
{{/if}}
{{#unless this.longtermLease}}
Short-term Listing
Monthly Price: $ {{this.monthlyPrice}}
{{/unless}}

<img id="listedImage" src="{{this.imgPath}}">

<br>
</div>
<a href="/paintings/{{this._id}}">See Details</a>


</div>

<hr>


{{/each}}